<a href="https://colab.research.google.com/github/VoW314/Warpath-Card-Draw/blob/main/S7_Wodkapedia_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# S7 Wodkapedia Offline Code

This bot tells the daily cupons for a city depending on the day. It changes cupons at reset much like Warpath does. 

This project was made quickly to work for a specific case. But as more people and servers want to use this, I have started working on a more unified and better way for these servers to load in their own data. When the S7 DataFrame was added it began to have issues. Since other servers use this bot, I also began to work on an updated class to be able to upgrade as the need increased 

__For any questions message:__ VodkaOrWodka#5239

## The wodka class

Click this play button. No need to open this up

In [ ]:
import pandas as pd
from tabulate import tabulate
import urllib


#https://docs.google.com/spreadsheets/d/1HR5Y_L3WokynBAesxRa7kFezbD_6cxbYlqPW7RaWwxY/edit?usp=sharing

sheetID = '1HR5Y_L3WokynBAesxRa7kFezbD_6cxbYlqPW7RaWwxY' #id for the google sheet
members = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{sheetID}/export?format=csv")
df7 = pd.DataFrame(members)

df3 = pd.DataFrame(members) # will eventually have S3 use its own file

## An Update to the current Class

The original version does not scale well. Have been working on this version. Currently the code has been shared with S2, S3, S7, S16 from me. Possibly will be shared to the other servers as it begins to work better.

The updates will hopefully allow others to input their card draw files instead of having to manually input it like how it works in the older vod_camp class

11/26/22

In [25]:
"""
Class Update
datetime version 4.4
"""

from datetime import date, timedelta, timezone
import datetime
import pandas as pd


class camp_search:
  def __init(self, server):
      
      self.server = server

      if (server == "S3"):
        df=df3
      else:
        df=df7
      

      self.group1 = list(df.A.dropna())#Col A
      self.group2 = list(df.B.dropna()) #Col B
      self.group3 = list(df.C.dropna()) #Col C

  def to_string(self):
    return self.group1, self.group2, self.group3

  def get_time_diff(self):
    """
      The current issue with attempting to use
      UTC time is that they are 2 different types of 
      objects. 

      So what I did instead was take the output of the
      utc object, convert it to a string, then take parts of 
      the string and convert it to integers. 

      After doing this, I used the integers as parameters
      to create a utc date and subtracted to find the 
      difference
      """
    dt = datetime.datetime.now(timezone.utc)
    utc_time = dt.replace(tzinfo=timezone.utc)
    utc_time = str(utc_time)
    past = date(2022,2,2)


      #year
    year = ""
    for i in range(0, 4):
      year = year + utc_time[i]
    year = int(year)

        #month
    month = ""
    for i in range(5, 7):
      month = month + utc_time[i]
    month = int(month)

        #day
    day = ""
    for i in range(8, 10):
      day = day + utc_time[i]
    day = int(day)

    now = date(year, month, day)
    new_diff = now - past
    self.new_diff = new_diff.days - 1


    return new_diff

    def __str__(self):
       return str(self.group1, self.group2, self.group3)

In [27]:
my_draw = camp_search()
print(my_draw)

<__main__.camp_search object at 0x7fc695872b90>

In [ ]:
"""
This is the the class that makes the ecy bot work.
Much the code is based of the shared colab first written
early in 2022. 

This is really basic code. Nothing too fancy about it. 
The class exists so that while running it, I would have a
clean main.py file

More in depth description of the code workings within class

datetime version: 4.4
"""


from datetime import date, timedelta, timezone
import datetime
import pandas as pd

class vod_camp:

    def __init__(self):
        #https://docs.google.com/spreadsheets/d/13IujTmtzYI9ZRTvIbSgbZr070wXbr3en0pksyfZzqCk/edit?usp=sharing


          

        self.group1 = list(df7.A.dropna())#Col A
        self.group2 = list(df7.B.dropna()) #Col B
        self.group3 = list(df7.C.dropna()) #Col C

        camp_name=camp_name.lower()
        self.camp = camp_name.strip("++")

        
        
        self.useArray = self.group1 #default city group to use
        self.camp_list = ["Liberty", "Vanguard", "Martyr"]
        #finds the city group to use based on difference in the days


      


    def find_date(self):

        """
        The current issue with attempting to use
        UTC time is that they are 2 different types of 
        objects. 

        So what I did instead was take the output of the
        utc object, convert it to a string, then take parts of 
        the string and convert it to integers. 

        After doing this, I used the integers as parameters
        to create a utc date and subtracted to find the 
        difference
        """

        dt = datetime.datetime.now(timezone.utc)
        utc_time = dt.replace(tzinfo=timezone.utc)
        utc_time = str(utc_time)
        past = date(2022,2,2)


        #year
        year = ""
        for i in range(0, 4):
            year = year + utc_time[i]
        year = int(year)

        #month
        month = ""
        for i in range(5, 7):
            month = month + utc_time[i]
        month = int(month)

        #day
        day = ""
        for i in range(8, 10):
            day = day + utc_time[i]
        day = int(day)

        now = date(year, month, day)
        new_diff = now - past
        self.new_diff = new_diff.days - 1


        return new_diff


    def __str__(self):
       return str(self.useArray)

    """
    Groups 1,2, and 3 are the three city groups. There is no good
    way to describe what each function does. The best explanation is 
    that depending on the city and the difference between the first deployment
    and today % 3, the function will return the correct city group
    """

    #city group 1
    def city_group1(self):
        if self.new_diff %3 == 0:
            return "Liberty"
        elif self.new_diff%3 ==1:
            return "Martyr"
        elif self.new_diff%3 ==2:
            return "Vanguard"
            

    #city group 2
    def city_group2(self):
        if self.new_diff%3 == 1:
            return "Liberty"
        elif self.new_diff%3 ==2:
            return "Martyr"
        elif self.new_diff%3 ==0:
            return "Vanguard"

    #city group 3
    def city_group3(self):
        if self.new_diff%3 == 2:
            return "Liberty"
        elif self.new_diff%3 ==0:
            return "Martyr"
        elif self.new_diff%3 ==1:
            return "Vanguard"



    def find_drawpool(self):
        city = self.camp
        if city in self.group2:
            self.useArray = self.group2
        elif city in self.group3:
            self.useArray = self.group3

        
        """
        I know it is a lot of else ifs, but
        this is just some initial code to start the 
        project. I will be trying to figure out a better
        way to do this. 
        """

        if self.useArray == self.group1:
            return self.city_group1()
        elif self.useArray == self.group2:
            return self.city_group2()
        elif self.useArray == self.group3:
            return self.city_group3()

    
    def show_list(self):
        city = self.camp
        if city in self.group2:
            self.useArray = self.group2
        elif city in self.group3:
            self.useArray = self.group3

        return self.useArray


    """
    (WIP)
    given a certain camp, the function will return all cities
    in the same group as the camp. For the bot
    this would likely be the first check to see if it
    is a camp or city. 
    """
    
    def find_camp(self, my_camp):
        my_camp = my_camp.strip("++")
        if my_camp in self.camp_list:
            print(self.camp_list)

## Click
The play button and scroll all the way down. In case you accidentally type something, close the tab and open it via the link again to reset it. :D

In [8]:
camp1 = vod_camp("Stalingrad")
camp2 = vod_camp("Madrid")
camp3 = vod_camp("Mexico City")


camp1.find_date()
camp2.find_date()
camp3.find_date()

draw1 = camp1.find_drawpool()
draw2 = camp2.find_drawpool()
draw3 = camp3.find_drawpool()

city_list = camp1.show_list()
city_list2 = camp2.show_list()
city_list3 = camp3.show_list()

print("Vanguard")
print(city_list)

print("Liberty")
print(city_list2)

print("Martyr")
print(city_list3)

<class 'list'>
<class 'list'>
<class 'list'>
Vanguard
['Stalingrad', 'Leningrad', 'Cairo', 'Ankara', 'Houston', 'Atlanta', 'Detroit', 'Washington', 'Tunisia', 'Barcelona', 'Ateniz', 'Genoa', 'Fortaleza', 'Panama', 'Recife', 'Carcaras', 'Portland', 'Salt Lake City', 'Las Vegas', 'Vancouver', 'Osio', 'Bristol', 'Glasgow', 'Manchester', 'Toul', 'Dijon', 'Munich', 'Nancy', 'League', 'Luxembourg', 'Rennes', 'Frankfurt', 'Bremen', 'Tallinn', 'Gdansk', 'Poznan', 'Krakow', 'Belgrade', 'Prauge']
Liberty
['Stalingrad', 'Leningrad', 'Cairo', 'Ankara', 'Houston', 'Atlanta', 'Detroit', 'Washington', 'Tunisia', 'Barcelona', 'Ateniz', 'Genoa', 'Fortaleza', 'Panama', 'Recife', 'Carcaras', 'Portland', 'Salt Lake City', 'Las Vegas', 'Vancouver', 'Osio', 'Bristol', 'Glasgow', 'Manchester', 'Toul', 'Dijon', 'Munich', 'Nancy', 'League', 'Luxembourg', 'Rennes', 'Frankfurt', 'Bremen', 'Tallinn', 'Gdansk', 'Poznan', 'Krakow', 'Belgrade', 'Prauge']
Martyr
['Stalingrad', 'Leningrad', 'Cairo', 'Ankara', 'Houston', 'Atlanta', 'Detroit', 'Washington', 'Tunisia', 'Barcelona', 'Ateniz', 'Genoa', 'Fortaleza', 'Panama', 'Recife', 'Carcaras', 'Portland', 'Salt Lake City', 'Las Vegas', 'Vancouver', 'Osio', 'Bristol', 'Glasgow', 'Manchester', 'Toul', 'Dijon', 'Munich', 'Nancy', 'League', 'Luxembourg', 'Rennes', 'Frankfurt', 'Bremen', 'Tallinn', 'Gdansk', 'Poznan', 'Krakow', 'Belgrade', 'Prauge']

## The Data Frame Cols

In [ ]:
list(df.A.dropna())

0         Stalingrad
1          Leningrad
2              Cairo
3             Ankara
4            Houston
5            Atlanta
6            Detroit
7         Washington
8            Tunisia
9          Barcelona
10            Ateniz
11             Genoa
12         Fortaleza
13            Panama
14            Recife
15          Carcaras
16          Portland
17    Salt Lake City
18         Las Vegas
19         Vancouver
20              Osio
21           Bristol
22           Glasgow
23        Manchester
24              Toul
25             Dijon
26            Munich
27             Nancy
28            League
29        Luxembourg
30            Rennes
31         Frankfurt
32            Bremen
33           Tallinn
34            Gdansk
35            Poznan
36            Krakow
37          Belgrade
38            Prauge
39               NaN
40               NaN
41               NaN
42               NaN
43               NaN
44               NaN
45               NaN
46               NaN
47               NaN
48               NaN
49               NaN
50               NaN
51               NaN
52               NaN
53               NaN
Name: A, dtype: object

In [ ]:
list(df.B.dropna())

0           Madrid
1           Naples
2       Birmingham
3        Edinburgh
4         Brussles
5           Geneva
6             Riga
7         Budapest
8           Warsaw
9          Hamburg
10      Cincinnati
11          Boston
12     Saint Louis
13        Richmond
14            Kyiv
15      Sevastapol
16           Minsk
17         Kharkiv
18        Damascus
19      Alexandria
20          Tehran
21          Riyadh
22    Buenos Aires
23    Porto Alegre
24        Salvador
25           Belem
26          Havana
27          Merida
28            Lima
29        San Jose
30         Pheonix
31      Sacramento
32        Victoria
33         Calgary
34        Billings
35           Boise
36       San Diego
37     Albuquerque
38         El Paso
39     San Antonio
40        Oklahoma
41      Montgomery
42           Miami
43       Nashville
44         Memphis
45             NaN
46             NaN
47             NaN
48             NaN
49             NaN
50             NaN
51             NaN
52             NaN
53             NaN
Name: B, dtype: object

In [ ]:
list(df.C.dropna())

0      Mexico City
1        Sao Paulo
2          Seattle
3      Los Angeles
4           Vienna
5       Copenhagen
6           Dallas
7     Jacksonville
8           Denver
9      New Orleans
10       Marseille
11     Amserterdam
12          Zurich
13         Orleans
14         Vilnius
15            Lviv
16         Bryansk
17           Kursk
18        Voronezh
19          Rostov
20          Odessa
21        Smolensk
22         Tbsilli
23            Baku
24           Erbil
25         Baghdad
26           Basra
27      Port Sudan
28        Benghazi
29         Antalya
30    Thessaloniki
31        Sarajevo
32         Tripoli
33         Catania
34           Turin
35        Florence
36          Lisbon
37          Bilbao
38     Springfield
39          Kansas
40        Colombia
41      Charleston
42         Toronto
43      Pittsburgh
44          Quebec
45    Philadelphia
46         Abyrden
47          Dublin
48       Stockholm
49          Bergen
50       Liberpool
51       Sheffield
52        Plymouth
53            Caen
Name: C, dtype: object